<div class="well">
	<h1>Recherche</h1>
	<div class="row">
		<div class="col-md-12">
			<input type="text" ng-model="query" class="form-control" placeholder="Mots clés">
		</div>
	</div>

	<div ng-controller="BookController">
		<h2 class="pull-left">
			Résultats
			<div class="pull-right">
				<span class="badge badge-important">
					{{ (books | filter:query).length | number }}
				</span>
			</div>
		</h2>
		<table class="table table-striped table-hover">
			<thead>
				<th>
					Nom
				</th>
				<th>
					Auteur
				</th>
				<th>
					Pays
				</th>
				<th>
					Année
				</th>
				<th>
					Action
				</th>
			</thead>
			<tr ng-repeat="book in books | filter: query">
				<td>
					{{ book.name }}
				</td>
				<td>
					{{ book.author }}
				</td>
				<td>
					{{ book.country }}
				</td>
				<td>
					{{ book.published }}
				</td>
				<td>
					<a href="#!/getBook/{{ book.index }}" title="">
						Lire plus
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>