<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#">Rechercher</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
